<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin_info</title>
</head>
<body>
<div><h2>{{user_id}}</h2></div>
<!-- Review Table -->
<div>
    <h3>[Reviews]</h3>
    <table border="1">
        <thead style="background-color: aliceblue;">
            <th>ratings</th>
            <th>movies</th>
            <th>review</th>
            <th>time</th>
        </thead>
        <tbody>
            {% for review in rev_res %}
            <tr>
                <td>{{ review[0] }}</td>
                <td style="background-color: aquamarine;">
                    <form action='/movie_info' method="post">
                        <input type="hidden" name="id" value="{{id | safe}}">
                        <input type="submit" name="mov_title" value="{{review[1] | safe}}">
                    </form>
                </td>
                <td>{{ review[2] }}</td>
                <td>{{ review[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Return to main page -->
<div>
    <form action="/main_page", method="post">
        <input type="submit", value="Return to Main page">
        <input type="hidden", name="id" value="{{id | safe}}">
    </form>
</div>
</body>
</html>
