<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movie_info</title>
</head>
<body>
<div><h2>{{mov_title}}</h2></div>
<!-- Movie Table -->
<div>
    <h3>Movies</h3>
    <table border="1">
        <thead style="background-color: aliceblue;">
            <th>director</th>
            <th>genre</th>
            <th>release date</th>
        </thead>
        <tbody>
            <tr>
                {% for movie in mov_res %}
                    <td>{{ movie[0] }}</td>
                    <td>{{ movie[1] }}</td>
                    <td>{{ movie[2] }}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

<!-- Review Table -->
<div>
    <h3>[Reviews]</h3>
    <span>Average Rating:{{Av_rat}}</span>
    <table border="1">
        <thead style="background-color: aliceblue;">
            <th>ratings</th>
            <th>user</th>
            <th>review</th>
            <th>time</th>
        </thead>
        <tbody>
            {% for review in rev_res %}
            <tr>
                <td>{{ review[0] }}</td>
                <td style="background-color: brown;">
                    <form action="/user_info" method="post">
                        <input type="submit" name="user_id" value="{{review[1] | safe}}">
                        <input type="hidden" name="id" value="{{id | safe}}">
                    </form>
                </td>
                <td>{{ review[2] }}</td>
                <td>{{ review[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- My Review  -->
<div>
    <h3>My Review</h3>
    <form action="/movie_info", method="post">
        <label for="ratings">My Review: </label>
        <select id='ratings' name="ratings">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <br>
        <textarea id = 'review_text' name="review_text"></textarea>
        <input type="hidden" name="id" value="{{id | safe}}">
        <input type="hidden" name="mov_title" value="{{mov_title | safe}}">
        <input type="submit" id = 'rev_submit' name="rev_submit" disabled> 
    </form>
    <script>
        document.getElementById('review_text').addEventListener('input', function() {
          var textarea = document.getElementById('review_text');
          var button = document.getElementById('rev_submit');
          button.disabled = textarea.value.trim() === '';
        });
    </script>
</div>
<div style="color: red;">{{error_message}}</div>
<!-- Back to main page -->
<div>
    <form action="/main_page", method="post">
        <input type="submit", value="Return to Main page">
        <input type="hidden", name="id" value="{{id | safe}}">
    </form>
</div>
</body>
</html>
