<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing Table.</title>
</head>
<body>
    <div>
        <table border="4">
            <colgroup>
                <col style="background-color: aquamarine;">
            </colgroup>
            <thead>
                <tr style="background-color: aliceblue;">
                    <th scope="col">title</th>
                    <th scope="col">ratings</th>
                    <th scope="col">director</th>
                    <th scope="col">genre</th>
                    <th scope="col">release date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Trueman show</td>
                    <td>4.9</td>
                    <td>I don't know</td>
                    <td>Comedy drama</td>
                    <td>I don't know</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
